
.nav-color {
  background-color: #b8daff;
  
}

.title-font{
  font-family: 'Playfair Display', serif;
}

.filter-section {
  margin-bottom: 10px;
}



.todo-List {
  margin-top: 40px;
   padding: 40px 5% 10px 5%;  
  border: #b8daff 1px solid;
  border-radius: 25px;
  
}


.task-table{
  border-radius: 10px;
}

.todo { 
  padding-bottom: 10px;
}

.text-font{
  font-family: 'Montserrat', sans-serif;
}

.update-buttons {
  padding: 0 30% 0 30%;
}






.contact-form {
  margin: 5% 0 10% 0;


}

.form-input {
  padding: 5px 0 5px 0;
}


@media only screen and (max-width: 767px) {

  .input-group {
    width: 100%;
    font-size: small;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

  }

  .todoinput {
    margin: 10px 0 10px 0;
    display: block;
    width: 100%;
  }


  .table-wrapper {
    max-height: 400px;
    overflow: auto;
    display: inline-block;
  }

  .task-table {
    width: 100%;

    font-size: small;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

  }

  .todo-List {
    margin-top: 5px;
    padding: 5px 5% 5px 5%;
    border: #b8daff 1px solid;
  }




  .task-col {
    min-width: 100%;
  }

  .update-buttons {
     padding: 0 0 0 0; 
    width: 90%;

    position: fixed; 
    bottom: 0;
  }


   .update-button {
    display: block;
    width: 100%;
    margin: 5px 0 5px 0;  

  } 


  

}

