

.todo-List{
padding: 10px 150px 10px 40px;



}

.todo{

  padding-bottom: 10px;
}


.selected-buttons{

  width: 100%;
}

.contact-form{
margin: 5% 0 10% 0;

}

.form-input{

  padding: 5px 0 5px 0;
}
